body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:821px;
  width:274px;
  height:33px;
  text-align:left;
}
#u1565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:270px;
  word-wrap:break-word;
}
#u1566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:715px;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:88px;
  width:494px;
  height:715px;
}
#u1566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:696px;
  width:274px;
  height:170px;
}
#u1567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:270px;
  word-wrap:break-word;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:829px;
  width:140px;
  height:25px;
}
#u1568_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:660px;
  width:0px;
  height:0px;
}
#u1569_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:260px;
  height:8px;
}
#u1569_seg1 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:-4px;
  width:8px;
  height:40px;
}
#u1569_seg2 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:23px;
  width:18px;
  height:19px;
}
#u1569_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:963px;
  width:274px;
  height:53px;
}
#u1570_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:270px;
  word-wrap:break-word;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:866px;
  width:0px;
  height:0px;
}
#u1571_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u1571_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:84px;
  width:18px;
  height:19px;
}
#u1571_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:78px;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:494px;
  height:78px;
}
#u1572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:45px;
  width:131px;
  height:26px;
}
#u1573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:48px;
  width:118px;
  height:28px;
  font-size:18px;
}
#u1574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:45px;
  width:92px;
  height:31px;
}
#u1575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:715px;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:88px;
  width:494px;
  height:715px;
}
#u1576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:78px;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:23px;
  width:494px;
  height:78px;
}
#u1577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:61px;
  width:118px;
  height:28px;
  font-size:18px;
}
#u1578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:58px;
  width:92px;
  height:31px;
}
#u1579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:61px;
  width:131px;
  height:26px;
}
#u1580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:109px;
  width:457px;
  height:58px;
  font-size:20px;
  text-align:left;
}
#u1581_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:453px;
  word-wrap:break-word;
}
#u1582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:71px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:638px;
  width:463px;
  height:71px;
  font-size:26px;
  color:#FFFFFF;
}
#u1582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:459px;
  word-wrap:break-word;
}
#u1583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:1396px;
  top:124px;
  width:113px;
  height:28px;
  color:#FF0000;
}
#u1583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:813px;
  width:621px;
  height:56px;
  color:#FF0000;
}
#u1584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  word-wrap:break-word;
}
