body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2255px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:479px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:24px;
  width:494px;
  height:479px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:68px;
  width:109px;
  height:28px;
  font-size:18px;
  color:#999999;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:903px;
  width:225px;
  height:28px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:479px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:545px;
  width:494px;
  height:479px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:970px;
  width:127px;
  height:28px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:647px;
  width:34px;
  height:30px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:647px;
  width:34px;
  height:30px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:758px;
  width:59px;
  height:47px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:639px;
  width:186px;
  height:63px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:127px;
  width:34px;
  height:30px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:879px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1299px;
  width:494px;
  height:879px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:805px;
  width:0px;
  height:0px;
  color:#FF66FF;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:498px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:479px;
  width:20px;
  height:20px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:239px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:2188px;
  width:505px;
  height:28px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  white-space:nowrap;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:880px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:1298px;
  width:495px;
  height:880px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1739px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u97_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:229px;
  height:8px;
}
#u97_seg1 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:-5px;
  width:8px;
  height:9px;
}
#u97_seg2 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:-5px;
  width:16px;
  height:8px;
}
#u97_seg3 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:-11px;
  width:20px;
  height:20px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1520px;
  width:274px;
  height:180px;
  text-align:left;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:270px;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1545px;
  top:1700px;
  width:0px;
  height:0px;
}
#u99_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u99_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:1738px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u100_seg1 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:-132px;
  width:8px;
  height:136px;
}
#u100_seg2 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:-132px;
  width:56px;
  height:8px;
}
#u100_seg3 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:-138px;
  width:20px;
  height:20px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:795px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:10px;
  width:447px;
  height:795px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:41px;
  width:138px;
  height:33px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:46px;
  width:101px;
  height:28px;
  font-size:20px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:88px;
  width:40px;
  height:42px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:628px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1383px;
  width:495px;
  height:628px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:625px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1383px;
  width:495px;
  height:625px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:75px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:2015px;
  width:441px;
  height:75px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:2039px;
  width:323px;
  height:28px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:1696px;
  width:43px;
  height:43px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:1696px;
  width:43px;
  height:43px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:53px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1942px;
  width:180px;
  height:53px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:65px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1877px;
  width:47px;
  height:65px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:53px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:1942px;
  width:55px;
  height:53px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:158px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1383px;
  width:124px;
  height:158px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:42px;
  width:40px;
  height:42px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:1334px;
  width:40px;
  height:42px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:112px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1756px;
  width:274px;
  height:112px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:95px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:1765px;
  width:264px;
  height:95px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:1773px;
  width:254px;
  height:28px;
  font-size:13px;
  text-align:center;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:44px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:1886px;
  width:97px;
  height:44px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:1922px;
  width:273px;
  height:56px;
  color:#FF0000;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:1821px;
  width:274px;
  height:1px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:1764px;
  top:1582px;
  width:491px;
  height:28px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  white-space:nowrap;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:1682px;
  top:1812px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u128_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u128_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-10px;
  width:20px;
  height:20px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:1517px;
  top:1832px;
  width:57px;
  height:28px;
  color:#FF9900;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:100px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:1427px;
  top:10px;
  width:494px;
  height:100px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:252px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:1427px;
  top:104px;
  width:494px;
  height:252px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:55px;
  width:127px;
  height:28px;
  font-size:18px;
  color:#999999;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:100px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:741px;
  width:494px;
  height:100px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:252px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:835px;
  width:494px;
  height:252px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:786px;
  width:127px;
  height:28px;
  font-size:18px;
  color:#999999;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:442px;
  width:680px;
  height:28px;
  color:#FF0000;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:88px;
  width:38px;
  height:38px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:93px;
  width:7px;
  height:7px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:72px;
  width:126px;
  height:140px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:86px;
  width:59px;
  height:47px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:641px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u143_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u143_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-21px;
  width:8px;
  height:25px;
}
#u143_seg2 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-21px;
  width:390px;
  height:8px;
}
#u143_seg3 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:-381px;
  width:8px;
  height:368px;
}
#u143_seg4 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:-381px;
  width:96px;
  height:8px;
}
#u143_seg5 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:-387px;
  width:20px;
  height:20px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:342px;
  top:-78px;
  width:100px;
  word-wrap:break-word;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:695px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u144_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:11px;
}
#u144_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:3px;
  width:490px;
  height:8px;
}
#u144_seg2 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:-3px;
  width:20px;
  height:20px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:190px;
  top:-1px;
  width:100px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:479px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:545px;
  width:494px;
  height:479px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:980px;
  width:127px;
  height:28px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:657px;
  width:34px;
  height:30px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:657px;
  width:34px;
  height:30px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:649px;
  width:59px;
  height:47px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:640px;
  width:194px;
  height:63px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:127px;
  width:34px;
  height:30px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:696px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u152_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u152_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:30px;
  width:743px;
  height:8px;
}
#u152_seg2 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:30px;
  width:8px;
  height:15px;
}
#u152_seg3 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:30px;
  width:20px;
  height:20px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:306px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:640px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u153_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u153_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-124px;
  width:9px;
  height:8px;
}
#u153_seg2 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-124px;
  width:9px;
  height:8px;
}
#u153_seg3 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-124px;
  width:234px;
  height:8px;
}
#u153_seg4 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:-414px;
  width:8px;
  height:298px;
}
#u153_seg5 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:-414px;
  width:88px;
  height:8px;
}
#u153_seg6 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:-420px;
  width:20px;
  height:20px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:179px;
  top:-141px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
