body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:34px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:27px;
  width:495px;
  height:34px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:34px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:106px;
  width:495px;
  height:34px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:749px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:140px;
  width:495px;
  height:749px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:450px;
  width:180px;
  height:56px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:889px;
  width:0px;
  height:0px;
  color:#FF66FF;
}
#u158_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:195px;
}
#u158_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:176px;
  width:20px;
  height:20px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:88px;
  width:100px;
  word-wrap:break-word;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1959px;
  width:0px;
  height:0px;
  color:#FF66FF;
}
#u159_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u159_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:57px;
  width:11px;
  height:8px;
}
#u159_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:57px;
  width:8px;
  height:63px;
}
#u159_seg3 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:105px;
  width:20px;
  height:20px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:53px;
  width:100px;
  word-wrap:break-word;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:1978px;
  width:1px;
  height:28px;
  color:#FF6600;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:450px;
  width:0px;
  height:0px;
  color:#FF66FF;
}
#u161_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:151px;
  height:8px;
}
#u161_seg1 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-10px;
  width:20px;
  height:20px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:42px;
  width:40px;
  height:42px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:68px;
  width:101px;
  height:28px;
  font-size:20px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:872px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:1083px;
  width:490px;
  height:872px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:879px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:63px;
  width:494px;
  height:879px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:489px;
  width:127px;
  height:28px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:165px;
  width:34px;
  height:30px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:165px;
  width:34px;
  height:30px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:100px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:63px;
  width:494px;
  height:100px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:252px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:157px;
  width:494px;
  height:252px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:1541px;
  top:108px;
  width:127px;
  height:28px;
  font-size:18px;
  color:#999999;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:100px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:1500px;
  top:684px;
  width:494px;
  height:100px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:252px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:1500px;
  top:778px;
  width:494px;
  height:252px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:1551px;
  top:729px;
  width:127px;
  height:28px;
  font-size:18px;
  color:#999999;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:157px;
  width:59px;
  height:47px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:157px;
  width:186px;
  height:63px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:204px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u179_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u179_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:47px;
  width:174px;
  height:8px;
}
#u179_seg2 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:47px;
  width:8px;
  height:393px;
}
#u179_seg3 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:432px;
  width:463px;
  height:8px;
}
#u179_seg4 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:432px;
  width:8px;
  height:48px;
}
#u179_seg5 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:465px;
  width:20px;
  height:20px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:116px;
  top:376px;
  width:100px;
  word-wrap:break-word;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:1394px;
  top:189px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u180_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u180_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-4px;
  width:8px;
  height:102px;
}
#u180_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:90px;
  width:14px;
  height:8px;
}
#u180_seg3 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:84px;
  width:20px;
  height:20px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:1521px;
  top:495px;
  width:680px;
  height:28px;
  color:#FF0000;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:880px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:2082px;
  width:495px;
  height:880px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:2273px;
  width:274px;
  height:180px;
  text-align:left;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:270px;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:2804px;
  width:124px;
  height:51px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:2804px;
  width:125px;
  height:75px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:2688px;
  width:0px;
  height:0px;
}
#u186_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:120px;
}
#u186_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:101px;
  width:20px;
  height:20px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:2689px;
  width:0px;
  height:0px;
}
#u187_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u187_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:119px;
}
#u187_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:100px;
  width:20px;
  height:20px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:2453px;
  width:0px;
  height:0px;
}
#u188_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u188_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:2130px;
  width:40px;
  height:42px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:180px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:2508px;
  width:274px;
  height:180px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:37px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:2580px;
  width:230px;
  height:37px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:44px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:2638px;
  width:97px;
  height:44px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:53px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:2527px;
  width:67px;
  height:53px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:2542px;
  width:235px;
  height:56px;
  font-size:13px;
  text-align:center;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:53px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:2634px;
  width:1px;
  height:52px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:2646px;
  width:1px;
  height:28px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:2646px;
  width:57px;
  height:28px;
  color:#FF6600;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:2646px;
  width:57px;
  height:28px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:2580px;
  width:411px;
  height:56px;
  color:#FF0000;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:2527px;
  width:155px;
  height:28px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:112px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:2798px;
  width:274px;
  height:112px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:95px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:2807px;
  width:264px;
  height:95px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:1463px;
  top:2815px;
  width:254px;
  height:28px;
  font-size:13px;
  text-align:center;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:1562px;
  top:2874px;
  width:57px;
  height:28px;
  color:#FF9900;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:2858px;
  width:274px;
  height:1px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:161px;
  height:22px;
}
#u207p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:156px;
  height:4px;
}
#u207p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:4px;
}
#u207p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u207p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u207p002 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u207p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:2839px;
  width:150px;
  height:2px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:2375px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u208_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u208_seg1 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-4px;
  width:8px;
  height:9px;
}
#u208_seg2 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-3px;
  width:165px;
  height:8px;
}
#u208_seg3 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:-9px;
  width:21px;
  height:20px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
}
