body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1481px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:880px;
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:495px;
  height:880px;
}
#u1767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:182px;
  width:274px;
  height:180px;
  text-align:left;
}
#u1768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:270px;
  word-wrap:break-word;
}
#u1769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:709px;
  width:124px;
  height:51px;
}
#u1769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u1770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:709px;
  width:125px;
  height:75px;
}
#u1770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:593px;
  width:0px;
  height:0px;
}
#u1771_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:120px;
}
#u1771_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:101px;
  width:20px;
  height:20px;
}
#u1771_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:594px;
  width:0px;
  height:0px;
}
#u1772_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:100px;
}
#u1772_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:92px;
  width:9px;
  height:8px;
}
#u1772_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:92px;
  width:8px;
  height:23px;
}
#u1772_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:100px;
  width:20px;
  height:20px;
}
#u1772_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:362px;
  width:0px;
  height:0px;
}
#u1773_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u1773_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u1773_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:271px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u1774_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u1774_seg1 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-4px;
  width:8px;
  height:9px;
}
#u1774_seg2 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-3px;
  width:165px;
  height:8px;
}
#u1774_seg3 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:-9px;
  width:21px;
  height:20px;
}
#u1774_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
}
#u1775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u1775 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:44px;
  width:40px;
  height:42px;
}
#u1775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:180px;
}
#u1776 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:413px;
  width:274px;
  height:180px;
}
#u1776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:37px;
}
#u1777 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:485px;
  width:230px;
  height:37px;
}
#u1777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:44px;
}
#u1778 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:543px;
  width:97px;
  height:44px;
}
#u1778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:53px;
}
#u1779 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:432px;
  width:67px;
  height:53px;
}
#u1779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u1780 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:447px;
  width:235px;
  height:56px;
  font-size:13px;
  text-align:center;
}
#u1780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u1781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:53px;
}
#u1781 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:539px;
  width:1px;
  height:52px;
}
#u1781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1782 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:551px;
  width:1px;
  height:28px;
}
#u1782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u1783 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:551px;
  width:57px;
  height:28px;
  color:#FF6600;
}
#u1783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1784 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:551px;
  width:57px;
  height:28px;
}
#u1784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:485px;
  width:411px;
  height:56px;
  color:#FF0000;
}
#u1785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  word-wrap:break-word;
}
#u1786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:432px;
  width:155px;
  height:28px;
}
#u1786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:112px;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:703px;
  width:274px;
  height:112px;
}
#u1788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:95px;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:712px;
  width:264px;
  height:95px;
}
#u1789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:720px;
  width:254px;
  height:28px;
  font-size:13px;
  text-align:center;
}
#u1790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u1791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:779px;
  width:57px;
  height:28px;
  color:#FF9900;
}
#u1791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:763px;
  width:274px;
  height:1px;
}
#u1792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1793_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:161px;
  height:22px;
}
#u1793p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:156px;
  height:6px;
}
#u1793p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:6px;
}
#u1793p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:4px;
}
#u1793p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1793p002 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1793p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:744px;
  width:150px;
  height:2px;
}
#u1793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
