body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2123px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:477px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:10px;
  width:468px;
  height:477px;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:479px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:722px;
  width:494px;
  height:479px;
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:1147px;
  width:127px;
  height:28px;
}
#u1723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:824px;
  width:34px;
  height:30px;
}
#u1724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:824px;
  width:34px;
  height:30px;
}
#u1725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:935px;
  width:59px;
  height:47px;
}
#u1726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:816px;
  width:186px;
  height:63px;
}
#u1727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:795px;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:10px;
  width:447px;
  height:795px;
}
#u1729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:41px;
  width:138px;
  height:33px;
}
#u1730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:46px;
  width:101px;
  height:28px;
  font-size:20px;
}
#u1731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:88px;
  width:40px;
  height:42px;
}
#u1732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:42px;
  width:40px;
  height:42px;
}
#u1733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:100px;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:1427px;
  top:10px;
  width:494px;
  height:100px;
}
#u1735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:252px;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:1427px;
  top:104px;
  width:494px;
  height:252px;
}
#u1736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:55px;
  width:127px;
  height:28px;
  font-size:18px;
  color:#999999;
}
#u1737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:100px;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:741px;
  width:494px;
  height:100px;
}
#u1739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:252px;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:835px;
  width:494px;
  height:252px;
}
#u1740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:786px;
  width:127px;
  height:28px;
  font-size:18px;
  color:#999999;
}
#u1741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:1443px;
  top:394px;
  width:680px;
  height:28px;
  color:#FF0000;
}
#u1742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  word-wrap:break-word;
}
#u1743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:88px;
  width:38px;
  height:38px;
}
#u1743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:641px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1744_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1744_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-21px;
  width:8px;
  height:25px;
}
#u1744_seg2 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-21px;
  width:390px;
  height:8px;
}
#u1744_seg3 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:-381px;
  width:8px;
  height:368px;
}
#u1744_seg4 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:-381px;
  width:96px;
  height:8px;
}
#u1744_seg5 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:-387px;
  width:20px;
  height:20px;
}
#u1744_text {
  border-width:0px;
  position:absolute;
  left:342px;
  top:-78px;
  width:100px;
  word-wrap:break-word;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:698px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1745_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:247px;
  height:8px;
}
#u1745_seg1 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:-4px;
  width:8px;
  height:243px;
}
#u1745_seg2 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:231px;
  width:243px;
  height:8px;
}
#u1745_seg3 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:225px;
  width:20px;
  height:20px;
}
#u1745_text {
  border-width:0px;
  position:absolute;
  left:193px;
  top:108px;
  width:100px;
  word-wrap:break-word;
}
#u1746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:479px;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:722px;
  width:494px;
  height:479px;
}
#u1746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1157px;
  width:127px;
  height:28px;
}
#u1747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:834px;
  width:34px;
  height:30px;
}
#u1748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:834px;
  width:34px;
  height:30px;
}
#u1749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:826px;
  width:59px;
  height:47px;
}
#u1750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:817px;
  width:194px;
  height:63px;
}
#u1751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:873px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u1752_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u1752_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:13px;
  width:478px;
  height:8px;
}
#u1752_seg2 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:-147px;
  width:8px;
  height:168px;
}
#u1752_seg3 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:-147px;
  width:272px;
  height:8px;
}
#u1752_seg4 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:-147px;
  width:8px;
  height:15px;
}
#u1752_seg5 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:-147px;
  width:20px;
  height:20px;
}
#u1752_text {
  border-width:0px;
  position:absolute;
  left:394px;
  top:9px;
  width:100px;
  word-wrap:break-word;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:817px;
  width:0px;
  height:0px;
  color:#FF9933;
}
#u1753_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-321px;
  width:8px;
  height:321px;
}
#u1753_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-321px;
  width:303px;
  height:8px;
}
#u1753_seg2 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:-591px;
  width:8px;
  height:278px;
}
#u1753_seg3 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:-591px;
  width:21px;
  height:8px;
}
#u1753_seg4 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:-597px;
  width:20px;
  height:20px;
}
#u1753_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-325px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:32px;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:111px;
  width:116px;
  height:32px;
}
#u1754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:113px;
  width:109px;
  height:28px;
  font-size:18px;
  color:#999999;
}
#u1755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1756 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:475px;
  width:183px;
  height:28px;
  color:#FF0000;
}
#u1756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
