body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:78px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:41px;
  width:209px;
  height:78px;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:522px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:119px;
  width:209px;
  height:522px;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:78px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:41px;
  width:815px;
  height:78px;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:293px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:119px;
  width:815px;
  height:293px;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:170px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:278px;
  width:162px;
  height:170px;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:231px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:411px;
  width:817px;
  height:231px;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#FFFFFF;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:420px;
  width:89px;
  height:28px;
  font-size:22px;
  color:#FFFFFF;
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:14px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:458px;
  width:784px;
  height:14px;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:427px;
  width:15px;
  height:19px;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:422px;
  width:44px;
  height:28px;
  font-size:19px;
  color:#FFFFFF;
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#FFFFFF;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:482px;
  width:89px;
  height:28px;
  font-size:22px;
  color:#FFFFFF;
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:482px;
  width:15px;
  height:19px;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:219px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:690px;
  width:347px;
  height:219px;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:700px;
  width:78px;
  height:78px;
  font-size:50px;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:800px;
  width:181px;
  height:28px;
  font-size:20px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:44px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:848px;
  width:144px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:44px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:848px;
  width:144px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u1273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:940px;
  width:155px;
  height:28px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:940px;
  width:169px;
  height:28px;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:892px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u1275_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1275_seg1 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:34px;
  width:26px;
  height:8px;
}
#u1275_seg2 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:34px;
  width:8px;
  height:14px;
}
#u1275_seg3 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:33px;
  width:20px;
  height:20px;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:892px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u1276_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1276_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:34px;
  width:52px;
  height:8px;
}
#u1276_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:34px;
  width:8px;
  height:14px;
}
#u1276_seg3 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:33px;
  width:20px;
  height:20px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:219px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:346px;
  width:347px;
  height:219px;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:356px;
  width:78px;
  height:78px;
  font-size:50px;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:451px;
  width:141px;
  height:28px;
  font-size:20px;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:44px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:504px;
  width:144px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:44px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:504px;
  width:144px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:510px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u1283_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:148px;
}
#u1283_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:140px;
  width:143px;
  height:8px;
}
#u1283_seg2 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:140px;
  width:8px;
  height:50px;
}
#u1283_seg3 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:175px;
  width:20px;
  height:20px;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:136px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:434px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u1284_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:617px;
  height:8px;
}
#u1284_seg1 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:-4px;
  width:8px;
  height:30px;
}
#u1284_seg2 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:18px;
  width:157px;
  height:8px;
}
#u1284_seg3 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:12px;
  width:20px;
  height:20px;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:344px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:219px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:1492px;
  top:346px;
  width:347px;
  height:219px;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:1627px;
  top:356px;
  width:78px;
  height:78px;
  font-size:50px;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:1585px;
  top:451px;
  width:161px;
  height:28px;
  font-size:20px;
}
#u1288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:44px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:1516px;
  top:504px;
  width:144px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:44px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:1677px;
  top:504px;
  width:144px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u1291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:575px;
  width:127px;
  height:28px;
  color:#FF0000;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:1616px;
  top:575px;
  width:99px;
  height:28px;
  color:#FF0000;
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
