body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:472px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:1003px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:462px;
  height:1003px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
